* {
    transition: width 0.5s ease-in-out, height 0.5s, padding 0.2s, color 0.2s, background-color 0.2s, border-color 0.2s;
}

body {
  font-family: sans-serif;
}

@media (max-width: 780px)
{
	/*logo passa do limite*/
	.logo {
		width: 100%;
	}

	/*botoes quebram em pequenas resolucoes, 
	entao vou mudar para o modo bloco
	suponho q n eh assim q vc faz suporte pra mobile, 
	mas fazer oq*/
	.btn{
		display: block;
	}

  input[type=submit] {
    display: initial; /*modo bloco acima quebra o botao*/
    width: 100%;
  }
}

.coolbackground {
  border: 2px solid limegreen;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(45deg, rgba(255,255,255,0), rgba(200,230,200,1));
  border-radius: 10px;
}

.coolbackgroundreversed {
  border: 2px solid limegreen;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(45deg, rgba(200,230,200,1), rgba(255,255,255,0));
  border-radius: 10px;
  width: 50%;
}

.errinho {
  border: 2px solid red;
  margin: 5px;
  padding: 5px;
  background: linear-gradient(45deg, rgba(255,255,255,0), rgba(230,200,200,1));
  border-radius: 10px;
}

.logo {
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 4px;
}

.logo:hover {
	border-left-color: limegreen;
	border-bottom-color: limegreen;
}

hr {
  /*border: 1px dashed green;*/
  border: none;
}

centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: limegreen;
  color: black;
  padding: 6px;
}

ul {
  list-style-type: square;
}

.fa {
  display: flex;
  border-left: 5px solid green;
  border-radius: 4px;

  background: none;

  padding: 5px;

  text-decoration: none;
  color: black;
}

.fa:hover {
	border-color: limegreen;
  background: linear-gradient(to left, rgba(255,255,255,0), rgba(200,230,200,1));
	padding: 6px;
}

.fimg {
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  width: 5%;
}

.fimg:hover {
  border-color: limegreen;
  border-width: 3px;
  width: 10%;
}

.fimganun {
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  width: 15%;
}

.fimganun:hover {
  border-color: limegreen;
  border-width: 3px;
  width: 30%;
}

bordinha {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  line-height: 250%;
}

bordinha:hover {
  border-color: limegreen;
  background: linear-gradient(to left, rgba(255,255,255,0), rgba(200,230,200,1));
  font-weight: bold;
  border-width: 3px;
  padding: 6px;
}

select {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

select:hover {
  border-color: limegreen;
  padding: 6px;
}

input {
  border: 1px solid green;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  width: 15%;
}

input:focus {
  border-color: limegreen;
  width: 25%;
  padding: 6px;
}

input:hover {
  border-color: limegreen;
  padding: 6px;
}

input[type=submit] {
  border-radius: 0px;
  font-weight: bold;
  width: auto;
}

input[type=file] {
  width: auto;
}

footer {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding: 10px;
}